src/main/mule/jl-music-factory-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:PS-Logger="http://www.mulesoft.org/schema/mule/PS-Logger" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sps-logger="http://www.mulesoft.org/schema/mule/sps-logger" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd http://www.mulesoft.org/schema/mule/PS-Logger http://www.mulesoft.org/schema/mule/PS-Logger/current/mule-PS-Logger.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/sps-logger http://www.mulesoft.org/schema/mule/sps-logger/current/mule-sps-logger.xsd">
    <flow name="jl-music-factory-api-main" doc:id="360ec8d1-c5e9-4f56-99da-6877ba87ff4c">
        <http:listener doc:name="Listener" doc:id="8aeaffe6-3892-4377-a2c0-609416062b35" config-ref="http-listener-config" path="/${http.router.path}/*">
            <http:response statusCode="#[vars.httpStatus default 200]" />
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="headerAttributes &amp; currentFlow" doc:id="97b13fac-5250-4cb2-b87e-1f84c97de456">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="headearAttributes"><![CDATA[%dw 2.0
output application/json
---
{
	correlationId: message.attributes.headers.correlation_id default uuid(),
	clientId: message.attributes.headers.client_id default "",
	clientSecret: message.attributes.headers.client_secret default ""
}]]></ee:set-variable>
                <ee:set-variable variableName="currentFlow"><![CDATA[%dw 2.0
output application/json
var currentFlow = "jl-music-factory-api-main::apiKitRouter"
---
currentFlow]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <sps-logger:sps-logger doc:name="INFO START" doc:id="62fc58d5-cd1a-4f82-83df-4d3855f069c6" config-ref="SPS_Logger_Config" targetSystem="APIKIT" eventName="START" correlationId="#[vars.headerAttributes.correlationId]" message="#['jl-music-factory-api-main::payload: ' ++ write(payload, &quot;application/json&quot;)]" category="${logcat}" />
        <apikit:router doc:name="APIkit Router" doc:id="e474b7e2-127a-4371-af30-b98e39d0bc3c" config-ref="jl-music-factory-api-config" />
    </flow>
    <flow name="jl-music-factory-api-console" doc:id="7d0f944e-387b-4a6f-94c1-de21e517ef93">
        <http:listener doc:name="Listener" doc:id="d21e0e9b-9c88-45dd-a6bc-98f84ef8852a" config-ref="http-listener-config" path="/console/*" />
        <apikit:console doc:name="APIkit Console" doc:id="16be3bd8-ff97-461c-86df-566605fbfe96" config-ref="jl-music-factory-api-config" />
    </flow>
</mule>
